:root{
    --color1: #aff02e;
    --color2: #343033;
    --color3: #12b318;
    --color4: #131313;
    --color5: #b3b3b1;
    --color6: #0e1215;
}
.activity-img{
    width: 100%;
}
.description{
    display: flex;
    flex-wrap: wrap;
}
.description-text{
    font-size: 14px;
    margin-bottom: 16px;
}